<div class="container">

	<div class="row">

		<div class="col-md-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						Tasty snacks
					</li>
				</ol>
			</nav>
		</div> <!-- breadcrumb navbar -->

	</div> <!-- navbar row -->


	<div class="row">

		<div *ngFor="let product of products" class="col-md-4">

			<div class="card">
				<div class="card-body">

					<div class="scalable-image-container">
						<img [src]="product.imageName" [alt]="product.name" class="scalable-image">
					</div>

					<span class="badge badge-success price-badge">{{ product.price }}</span>
					<h4 class="product-name">{{ product.name }}</h4>
					<button type="submit" class="btn btn-info btn-block" (click)="gotoProductDetails(product.id);">Product Details</button>
					<button type="submit" class="btn btn-warning btn-block" (click)="addToCart(product.id);">Add to Cart</button>
				</div>
			</div>

		</div>

	</div>

</div>
